certifi==2026.7.22
cloudpickle==3.1.2
contourpy==1.4.0
cycler==0.12.1
Deprecated==1.2.18
fonttools==4.65.0
geopandas==1.1.4
h5py==3.16.0
joblib==1.6.0
jupedsim==1.4.2
kiwisolver==1.5.1
matplotlib==3.11.2
narwhals==2.26.0
numpy==2.5.3
packaging==26.3
pandas==3.0.5
PedPy==1.5.1
pillow==12.3.0
plotly==7.0.0
pyogrio==0.13.0
pyparsing==3.3.2
pyproj==3.8.0
PySide6==6.11.2
PySide6_Addons==6.11.2
PySide6_Essentials==6.11.2
python-dateutil==2.9.0.post0
scipy==1.18.1
seaborn==0.13.2
shapely==2.1.2
shiboken6==6.11.2
six==1.17.0
vtk==9.7.0
wrapt==1.17.3
